<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
	<div class = "col-md-4 pull-right center">
		<%= gravatar_for @recipe.chef, size: 200 %>
		<p>
			<h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
		</p>
	</div>
	<div class="col-md-8">
		<%= link_to "edit recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
		<h3><%=@recipe.text %></h3>
		<div class="show_recipe">
			<%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
		</div>
		<div class="well">
			<p><%= simple_format(@recipe.description) %></p>
		</div>
	</div>
</div>

<h5><%= link_to "return to recipes listing", recipes_path, class: "btn btn-warning btn-scroll" %></h5>